<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <div class="text  w-full  h-screen mx-auto">
            <div class="text" *ngFor="let item of data.messageArray">
                  <div class="text">{{item}}</div>
            </div>
            <div class="text  flex ">
                  <input type="text" placeholder=""  class="text"  [(ngModel)]="data.message">
                  <button class="text" (click)="data.sendMessage()">Send</button>
            </div>
      </div>
</body>
</html>
