<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="h-screen overflow-hidden">

  <!-- <div class="text flex w-full shadow-lg mx-auto">
    <app-chat-app></app-chat-app>
    <app-chat-app2></app-chat-app2>
  </div> -->
<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-contact-nav></app-contact-nav> -->
  <!-- <app-user></app-user> -->
<app-home></app-home>
<!--   
  <div class="text w-5/6 flex mx-auto border">
    <div class="text w-1/2">
      <app-blogs></app-blogs>
    </div>
    <div class="text w-1/2">
      <app-display-blogs ></app-display-blogs>
    </div>
  </div> -->


  <!-- <app-budget-app></app-budget-app> -->
  <!-- <app-user></app-user> -->
  <!-- <hr> -->
  <!-- <app-display-blogs></app-display-blogs> -->
   <!-- <app-add-items (sendItem)="addItem($event)"></app-add-items>
   <app-display-items [allItems]="allItems"></app-display-items> -->
  <!-- <app-portal></app-portal> -->
  <!-- <app-login></app-login> -->
<!-- <app-structural-class></app-structural-class> -->



</body>
</html>

