<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body class="text overflow-auto">
      <section class="text w-full lg:w-1/4  mx-auto ">
            <header class="text fixed bg-white w-full border h-16 pl-4 lg:w-1/4 ">
                  <nav class="text">
                        <ul class="text flex">
                              <li class="text-black mt-4 mx-auto text-center w-11/12 flex">
                                    <span class="text w-5 translate-x-7 mt-2">
                                          <img src="/assets/Capture.PNG2-removebg-preview (1).png" alt="" class="text-black ">
                                    </span>
                                    <input type="text" placeholder="Search contacts " class="text border-0 mx-auto w-full bg-gray-100  rounded-full h-7 px-8">
                              </li>
                              <li class="text-black w-20 mt-5 text-end ">
                                    <img src="/assets/Capture-removebg-preview.png" alt="" class="text absolute  right-4 h-6">
                              </li>
                        </ul>
                  </nav>
            </header>
            <section class="text  w-full py-20 border overflow-auto">
                  <div [class]="callLog.recentPageClass">
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-purple-700 ml-3 mr-6 text-xl">J</div>
                                    <div class="text">
                                          <span class="text-md">John Adeolu</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-purple-700 ml-3 mr-6 text-xl">J</div>
                                    <div class="text">
                                          <span class="text-md">John Adeolu</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-purple-700 ml-3 mr-6 text-xl">J</div>
                                    <div class="text">
                                          <span class="text-md">John Adeolu</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-purple-700 ml-3 mr-6 text-xl">J</div>
                                    <div class="text">
                                          <span class="text-md">John Adeolu</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-purple-700 ml-3 mr-6 text-xl">J</div>
                                    <div class="text">
                                          <span class="text-md">John Adeolu</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-yellow-700 ml-3 mr-6 text-xl">K</div>
                                    <div class="text">
                                          <span class="text-md">Kayode Ola</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-yellow-700 ml-3 mr-6 text-xl">K</div>
                                    <div class="text">
                                          <span class="text-md">Kayode Ola</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-yellow-700 ml-3 mr-6 text-xl">K</div>
                                    <div class="text">
                                          <span class="text-md">Kayode Ola</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                        <div class="text flex justify-between py-3">
                              <div class="text flex  w-1/2">
                                    <div class="text-center text-white pt-1 mt-1 w-10 h-10 rounded-full bg-yellow-700 ml-3 mr-6 text-xl">K</div>
                                    <div class="text">
                                          <span class="text-md">Kayode Ola</span>
                                          <div class="text-blue-500 w-10 h-7  flex">
                                              <mat-icon>call_made</mat-icon>
                                                <span class="text ml-2">mobile</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="text-end flex  w-1/3 mt-5">
                                    <div class="text mx-auto flex w-full justify-around">
                                          2 days ago
                                          <div class="text-center w-6 h-6 mt-1 rounded-full border-purple-700 border-2">i</div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  
                  <div [class]="callLog.displayFoundClass">
                        <div class="text-start h-1/4 pl-6 ">
                        <button class="flex item-center w-full" (click)="callLog.addContactFunct()">
                                    <span class="text-blue-500 h-full "><mat-icon>person_add</mat-icon></span>
                                    <span class="text-lg text-blue-600 mx-4">Create new contact</span>
                        </button>
                              </div>
                              <!-- <a href="/add" class="text-xl w-full "></a> -->
                        <div class="text">
                              <div class="text">

                              </div>
                        </div>
                        <!-- <button class="text mx-10" ></button> -->
                  </div>
      
                  <!-- <button class="text" mat-raised-button color='primary'>ADD</button>
                  <button class="text" mat-raised-button color='primary'>
                        <mat-icon>home</mat-icon>
                  </button> -->
                  
                  
                  <div [class]="callLog.addBtnClass">
                        <div class="text-center w-full lg:w-1/4 fixed bottom-24" >
                              <div class="text bg-purple-700 w-14 pt-2 h-14 rounded-full mx-auto">
                                    <button class="text-white w-12 h-12" (click)="callLog.addContact()">
                                          <mat-icon>dialpad</mat-icon>
                                          <!-- <img src="/assets/7223609-removebg-preview.png" alt="" class="text-white mx-auto h-10"> -->
                                    </button>
                              </div>
                        </div>
                  </div>
            </section>
            <!-- <section class=""> -->
            <section [class]="callLog.addContactClass">
               <div class="text w-full mx-auto lg:w-1/4 fixed bottom-20">
                  <div [class]="callLog.displayClass">
                        <div class="text border-t border h-14 w-full flex bg-white">
                              <div class="text-center text-4xl   w-full">
                                    <input class="text-center h-13 mt-2 w-full focus:outline-none " [value]="callLog.numberValue"> 
                              </div>
                              <div class="text absolute right-0 h-14">
                                    <button class="text h-full  border bg-slate-100 px-4" (click)="callLog.erazeFunction()"> <i class="fa-solid fa-delete-left"></i></button>
                              </div>
                        </div>
                  </div>
                  <div class="text border-t w-full bg-white border mx-auto pb-6">
                        <div class="text flex justify-around">
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('1')">
                                          <span class="text font-light">1</span>
                                          <span class="text-sm font-light">.,</span>
                              </button>
                              </div>
                              <div class="text-4xl font-light py-4 font-mono">
                                     <button class="text" (click)="callLog.valueNum('2')">
                                          <span class="text font-light">2</span>
                                          <span class="text-sm font-light">ABC</span>
                                    </button>
                                    </div>
                                    <div class="text-4xl font-light py-4 font-mono">
                                          <button class="text" (click)="callLog.valueNum('3')">
                                                <span class="text font-light">3</span>
                                                <span class="text-sm font-light">DEF</span>
                                          </button>
                              </div>
                        </div>
                        <div class="text flex justify-around">
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button (click)="callLog.valueNum('4')" class="text">
                                          <span class="text font-light">4</span>
                                          <span class="text-sm font-light">GHI</span>
                                    </button>
                              </div>
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('5')">
                                          <span class="text font-light">5</span>
                                          <span class="text-sm font-light">JKL</span>
                                    </button>
                              </div>
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('6')">
                                          <span class="text font-light">6</span>
                                          <span class="text-sm font-light">MNO</span>
                                    </button>
      
                              </div>
                        </div>
                        <div class="text flex justify-around">
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('7')">
                                          <span class="text font-light">7</span>
                                          <span class="text-sm font-light">PQRS</span>
                                    </button>
                              </div>
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('8')">
                                          <span class="text font-light">8</span>
                                          <span class="text-sm font-light">TUV</span>
                                    </button>
                              </div>
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('9')">
                                          <span class="text font-light">9</span>
                                          <span class="text-sm font-light">WXYZ</span>
                                    </button>
                              </div>
                        </div>
                        <div class="text flex justify-around">
                              <button class="text-4xl font-light py-4 font-mono" (click)="callLog.valueNum('*')">*</button>
                              <div class="text-4xl font-light py-4 font-mono">
                                    <button class="text" (click)="callLog.valueNum('0')">
                                          <span class="text font-light">0</span> 
                                          <span class="text-sm font-light">+</span> 
                                    </button> 
                              </div>
                              <button class="text-4xl font-light py-4 font-mono" (click)="callLog.valueNum('#')">#</button>
                        </div>
                        <div class="text-center my-2 ">
                              <button (click)="callLog.callFunct()" class="text-white bg-green-500 py-3 px-4 rounded-full ">
                                   <mat-icon>call</mat-icon>
                              </button>
                              <span (click)="callLog.hideKeyPad()" class=" w-20 text-purple-700  absolute right-6 " title="close keypad">
                                    <mat-icon>dialpad</mat-icon>
                              </span>
                        </div>
                  </div>
               </div>
            </section>
      </section>
</body>
</html>
